$color: rgb(1, 4, 7);

.my-flix {
  color: $color;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #D3D3D3;
}

.header-name {
  font-family: 'Schoolbell', cursive;
  font-size: 30px;
}
